---
import "@styles/global.css";
---

<div id="container">
  <h1 class="text-3xl font-bold underline ">
	Hello world!
  </h1>
  <p class="text-red-500">Texto rojo</p>
  <p class="text-blue-700">Texto azul oscuro</p>
  <p class="text-green-400">Texto verde claro</p>
  <p class="text-gray-900">Texto gris oscuro</p>
</div>
