---
import "@styles/global.css";
---

<section class="text-center py-16 bg-gray-100">
  <h1 class="text-4xl font-bold text-gray-900">Bienvenido a Catálogo Digital</h1>
  <p class="text-lg text-gray-600 mt-4 pb-6">Explora nuestros productos y genera tu proforma en segundos.</p>
  <a href="/producto" class="mt-6 px-6 py-3 bg-blue-500 text-white rounded-lg">Ver productos</a>
</section>
  
