---
import "@styles/global.css";
---
<section class="text-center  bg-gray-100 pt-28 ">
  <h1 class="text-4xl font-bold text-gray-900">Bienvenido a Catálogo Digital</h1>
  <p class="text-lg text-gray-600 mt-4 pb-6">Explora nuestros productos y genera tu proforma en segundos.</p>
</section>
  
